.arrow-down{
    position: absolute;
    top: 5px;
    transform: translate(-40px);
    transition: transform 200ms ease-in-out;
}

.arrow-down[data-currentPlayer = '2']{
    transform: translate(40px);
}